body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 2vw 2vh;
}

header, main, aside, figure{
    padding: 0;
    margin: 0;
}

main {
    margin: 2ex 0;
}

h1 {
    font-size: 120%;
}

figcaption {
    font-style: italic;
    font-size: 90.1%;
    color: #666666;
}

.label, .label-inverse, .label-medium, .label-small, .unit-pointer {
    text-anchor: middle;
}

.label, .unit-pointer {
    font-size: 144%;
}

.unit-pointer {
    color: white;
    font-weight: bold;
}

.label-inverse {
    font-size: 120%;
}

text.label-inverse {
    color: red;
}

.label-medium {
    font-size: 100%;
}

.label-small {
    font-size: 83.3333%;
}

nav {
    clear: right;
    border-bottom: 1px solid grey;
}

nav a {
    background: #eeeeee;
    border: 1px solid grey;
    border-top-left-radius: .5ex;
    padding: 0 .5ex;
    margin-left: 1em;
}

nav a.active-tab {
    background: white;
    font-weight: bold;
    border-bottom: 3px solid white;;
}
    

#sliderule {
    max-width: 100%;
    width: 80vh;
    margin: auto;
}

#problem {
    display: block;
    font-size: 120%;
}

#sliderule-diagram, #outer-wheel, #inner-wheel, #cursor {
    transform-origin: center;
}

footer {
    border-top: 1px solid grey;
    margin-top: 2ex;
    font-size: 83.333333%;
    color: grey;
    font-style: italic;
}

footer p {
    margin: .5ex;
}
