body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 2vw 2vh;
}

header, main, aside, figure{
    padding: 0;
    margin: 0;
}

main {
    margin: 2ex 0;
}

h1 {
    font-size: 120%;
}

.prompt {
    font-style: italic;
    font-size: 83.3333%;
    color: #666666;
}

.label, .label-inverse, .label-medium, .label-small, .unit-pointer {
    text-anchor: middle;
}

.label, .unit-pointer {
    font-size: 144%;
}

.unit-pointer {
    color: white;
    font-weight: bold;
}

.label-inverse {
    font-size: 120%;
}

text.label-inverse {
    color: red;
}

.label-medium {
    font-size: 100%;
}

.label-small {
    font-size: 83.3333%;
}

nav {
    clear: right;
    border-bottom: 1px solid grey;
}

nav a {
    background: #eeeeee;
    border: 1px solid grey;
    border-top-left-radius: .5ex;
    padding: 0 .5ex;
    margin-left: 1em;
}

nav a.active-tab {
    background: white;
    font-weight: bold;
    border-bottom: 3px solid white;;
}
    

#sliderule {
    max-width: 100%;
    width: 80vh;
    margin: auto;
}

#problem {
    display: block;
    font-size: 120%;
}

.sliderule-diagram, .outer-wheel, .inner-wheel, .cursor {
    transform-origin: center;
}

footer {
    border-top: 1px solid grey;
    margin-top: 2ex;
    font-size: 83.333333%;
    color: grey;
    font-style: italic;
}

footer p {
    margin: .5ex;
}

th, td {
    padding: .5ex .5em;
}

thead th {
    background: #333333;
    color: white;
}

a.link {
    text-decoration: none;
    font-size: 69.445%;
    color: #aaaaaa;
}

dt {
    color: #666666;
    font-weight: bold;
    margin-top: 2ex;
}

@media screen and (width < 640px) {

    #scales img, #scales table {
        display: block;
        width: 100%;
    }
}

@media screen and (width >= 640px) {

    .guide-figure {
        float: right;
        width: 25%;
    }

    #scales img, #scales table {
        display: inline-block;
        width: 45%;
        vertical-align: top;
    }

    #scales table {
        max-width: 45em;
        margin-right: 1em;
    }

    #scales img {
        max-width: 20em;
    }
}

@media print {

    header, footer {
        display: none;
    }

    a {
        text-decoration: none;
    }

    a.link {
        display: none;
    }

    #scales img, #scales table {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    #scales table {
        max-width: 45em;
    }

    #scales img {
        max-width: 20em;
    }

}

.scale-example {
    font-size: 83.333%;
}

.scale-example th, .scale-example td {
    text-align: right;
}

table.zebra tr:nth-child(odd) {
    background: #eeeeff;
}

.template {
    display: block;
    width: 15cm;
    page-break-before: always;
}

figcaption {
    font-weight: bold;
    font-style: italic;
    color: #444444;
}

footer span, footer img {
    vertical-align: middle;
}

a.pdm {
    text-decoration: none;
}

a.pdm img {
    height: 3ex;
}
