body {
    font-family: arial, sans-serif;
    padding: 0;
    margin: 2vw 2vh;
}

header, main, aside, figure{
    padding: 0;
    margin: 0;
}

main {
    margin: 2ex 0;
}

h1 {
    font-size: 120%;
}

figcaption {
    font-style: italic;
    font-size: 90.1%;
    color: #666666;
}

.label {
    font-size: 150%;
    text-anchor: middle;
}

#sliderule {
    max-width: 96vw;
    width: 80vh
}

#problem {
    display: block;
    font-size: 120%;
}

#outer-special-values #inner-special-values {
    font-size: 80%;
    font-color: #aaaaaa;
}
